body.customers {
  form {
    padding: 0 30px 30px;
  }

  .submit {
    margin-top: 30px;
    text-align: right;
  }

  #s2id_customer_unscheduled_events_attributes_0_requested {
    width: 100% !important;
  }
}
