html, body {
	height: 100%;
}

body {
  background: $blue;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px !important;
}

.wrapper {
  width: 400px;
  height: 500px;
  margin: -150px -200px;
  position: absolute;
  left: 50%;
  top: 35%;

  >h1 {
    &>a {
      color: $white; 
      display: block;
      font-weight: 300;
      font-size: 40px;
      text-align: center;
      padding: 2px 0;
      text-decoration: none;
      img {
        margin-right: 20px; 
        margin-top: -8px;
      }
    }
  }
}

a {
	color: $blue;
	&:focus {
		outline: none;
		text-decoration: none;
	}
}

.ulreset {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nopadding {
	padding: 0 !important;
}

.basic-margin{
	&>li,  &>a{
		margin: 0 5px 5px 0;
	}
}
