%head
  %meta{ charset: "utf-8" }/
  %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }/

  %title
    ==  Bolt Barbers - Take A Number 

  %meta{ :name => "description", :content => "" }/
  %meta{ :name => "viewport",    :content => "width=device-width, initial-scale=1.0" }

  = render "layouts/frontend/stylesheets"

  = csrf_meta_tag
